a:hover {
  text-decoration: none;
}

/* header */
header hr {
  margin-top: 0.8rem;
  border-top: 1px solid #aaa;
}
.switch a {
  width: 15%;
  padding: 0.1rem 0.5rem;
  font-size: 0.8rem;
  color: #fff;
}

.switch a:first-child {
  background-color: hotpink;
}
.switch a:first-child:hover {
  background-color: #fff;
  color: hotpink;
}
.switch a:last-child {
  background-color: lightgrey;
}
.switch a:last-child:hover {
  background-color: #fff;
  color: lightgrey;
}

/* navbar */
.navbar-nav a {
  font-size: 1.2rem;
}

.social a {
  color: #000;
  font-size: 1.3rem;
}
.social a:hover {
  background: rgb(54, 54, 54);
  color: #fff;
}

/* carousel */

.carousel-caption {
  left: 0;
  right: 0;
  bottom: 0;
  text-align: left;
  background: linear-gradient(to top,
            rgba(14, 13, 13, 0.89),
            rgba(0, 0, 0, 0));
}

.carousel-caption i {
  font-size: 1.8rem;
  color: #139bcd;
}

/* jumboron */
.jumbotron a {
  color: rgb(31, 31, 31);
  font-size: 0.8rem;
}

.jumbotron a:hover {
  text-decoration: none;
  background: linear-gradient(
    to bottom,
    rgba(190, 190, 190, 0.342),
    rgba(0, 0, 0, 0)
  );
}

hr.double {
  border-top: 1px solid #aaa;
  border-bottom: 1px solid #aaa;
  height: 1px;
}

/* Card section */

h4.card-title {
  display: -webkit-box;
  height: 54.5px;
  padding-right: 15px;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: 1.4rem;
  font-weight: bold;
}
.col-md-3 h4.card-title {
  font-size: 1.2rem;
}

.tag {
  width: 90%;
  height: 30px;
  overflow: hidden;
  white-space: nowrap;
}

.tag a {
  padding: 0.25em 0.5em;
  margin-right: 5px;
  border: 1px solid #aaa;
  font-size: 0.7rem;
  color: #000;
}
.tag a:hover {
  background: #aaa;
  color: #fff;
}

/* footer */
footer {
  background: #999;
  font-size: 0.8rem;
}
